@use "../main" as *;

.app-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.app {
  grid-column: 2/3;
  background-color: $white;
  color: black;
  padding: 1%;
}

.one {
  background: $red;
}

.two {
  background: $green;
}

.three {
  background: $orange;
}

.four {
  background: $blue;
}

.five {
  background: $background;
}

.user-selection-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
}

.mealpack-container {
  display: flex;
  margin: 5px 10px;
  background: $background;
  padding: 10px 30px 10px 10px;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
}

.mealpack-title {
  font-size: 16px;
  margin-left: 15px;
}

.button {
  height: fit-content;
  margin: 5px;
}

.publish-button {
  margin: 10px 0 20px;
}

.selected-mealpacks-container {
  margin-top: 10px;
  height: 20rem;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.generated-mealpacks-container {
  margin-right: 30px;
  height: 20rem;
  margin-top: 10px;
  overflow: scroll;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}