.howToUse-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1fr) 1fr;
  align-items: center;
  background-image: url("../../images/background-img.jpg");
  background-size: cover;
}

.carousel-text{
  color:black;
  font-size:50px
}

.carousel-buttons {
  background-color: rgb(246, 198, 121);
}

.quick-guide-caption {
  // background-color: black;
  margin: auto;
  font-size: 35px;
}

.help-title {
  font-size: 50px;
  color: black;
}

.help-text {
  font-size: 35px;
  color:black;

}



.modal {
  width: 100px;
}

.carousel {
  background-color: rgb(254, 250, 240);
}

// .carousel-caption {
//   position: absolute;
//   // bottom: 50%;
//   transform: translateY(20%);

// }

// .carousel-item{
//   max-width: 500px;
// }

// .carousel-img{
//   max-width: 100px
// }
.help-image {
  width: 400px;
}

.help-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
  
}