.howToUse-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1fr) 1fr;
  align-items: center;
  background-image: url("../../images/background-img.jpg");
  background-size: cover;
}

.carousel-text h3, p{
  color:black;
}

.level {
  background-color: orange;
}

