.past-mealpacks-page {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.past-view {
  grid-column: 2;
}

.mealpack-modal {
  margin: 30px;
  text-align: center;
  padding: 1rem 2rem;
}

#vegetarian {
  background-color: rgb(0, 148, 126);
  color: white;
}

#vegan {
  background-color: rgb(246, 198, 121);
}

#gluten {
  background-color: rgb(236, 143, 114);
  color: white;
}

#dairy {
  background-color: rgb(187, 90, 77);
  color: white;
}