.profile-page {
	justify-content: center;
	align-items: center;
}

#profile-card {
	width: 500px;
}

.profile-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 10px;
}

.profile-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.field {
	padding: 3px;
}

.photo-upload-window {
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.app__form {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

progress {
	margin-top: 1rem;
	width: 100%;
	height: 20px;
	border-radius: 0px;
}

progress::-webkit-progress-value {
  background: rgb(0, 148, 126);;
}

progress::-webkit-progress-bar {
  background: rgb(198, 198, 198);
}