@use "../main" as *;

.signup-signin-app {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-image: url("../../images/background-img.jpg");
  background-size: cover;
}

.card {
  grid-column: 2;
  margin: 0 3rem 10rem;
}

.login-content, .signup-content {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.form {
  grid-column: 2;
}

.card-title {
  font-size: 70px;
  font-family: 'Lobster', cursive;
}

.input-field {
  margin-top: 10px;
  font-size: 20px;
}

.text-input-field {
  width: 100%;
}

.login-button, .signup-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.signup-text, .login-text {
  text-align: center;
}

.spacer {
  height: 20px;
}

.register-link {
  color: rgb(187, 90, 77);
  &:hover {
    color: rgb(116, 56, 48)
  }
}

label {
  color: black;
}