// colors
$my-green: rgb(97, 190, 97);
$my-red: rgba(252, 0, 0, 0.777);
$my-orange: rgba(255, 151, 39, 0.724);
$my-white: rgb(255, 255, 255);
$my-blue: rgb(170, 226, 243);
$my-background: rgb(254, 250, 240);
